{% extends 'main.html' %}


{% block title %}Company List - {{ super()}}{% endblock %}
{% block content %}


<div class="container">
    <h1>Companies</h1> 

    <a href="{{api_root}}/create" class="btn btn-link"><i class="fa fa-plus"></i>Add Company</a> 
   

    <table class="table">
        <tr>
            <th colspan="2"> &nbsp;</th>
            <th>Trading Name</th>
            <th>Contact Person</th>
            <th>City</th>
            <th>Created</th>
        </tr>
        {% for company in companies %}
        <tr>
            <td> 
                <a href="{{api_root}}/update/{{company.id}}" class="btn btn-link" title="Update - {{ company.name }}">
                    <i class="fa fa-pencil-alt"></i>
                </a>  
            </td>
            <td>
                <form action="{{api_root}}/delete" method="POST"> 
                    <button type="submit" class="btn btn-link" title="Delete - {{ company.trading_name }} - {{ company.city }}">
                        <i class="fa fa-trash-alt"></i> 
                    </button> 
                    <input name="delete_id" type="hidden" value="{{company.id}}" />
                </form>
            </td>
            <td>{{ company.trading_name }}</td>
            <td>{{ company.contact_person }}</td>
            <td>{{ company.city }}</td> 
            <td>{{ company.creation_time.strftime("%d %b, %Y, %H:%M:%S") }}</td>   
        </tr>
        {% endfor %}
    </table>   
   
    <a href="{{api_root}}/create" class="btn btn-link"><i class="fa fa-plus"></i>Add Company</a> 
         
</div>


{% endblock %}