{% extends 'main.html' %} 
{% block title %}Create New Company - {{ super()}}{% endblock %}
{% block content %}

    <div class="container">
        <h1>Create New Company</h1>
        <p> </p>
        <form class="form form-horizontal" action="{{api_root}}/create" method="POST">
             
            <div class="form-group row">
                <label for="trading_name" class="col col-2  col-form-label" >Trading Name :</label>
                <div class="col col-6">
                    <input id="trading_name" name="trading_name" type="text" class="form-control"/>
                </div>
            </div> 
            
            <div class="form-group row">
                <label for="contact_person" class="col col-2  col-form-label" >Contact Person :</label>
                <div class="col col-6">
                    <input id="contact_person" name="contact_person" type="text" class="form-control"/>
                </div>
            </div> 
            
            <div class="form-group row">
                <label for="email" class="col col-2  col-form-label" >Email :</label>
                <div class="col col-6">
                    <input id="email" name="email" type="email" class="form-control"/>
                </div>
            </div> 
            
            <div class="form-group row">
                <label for="phone" class="col col-2  col-form-label" >Phone :</label>
                <div class="col col-6">
                    <input id="phone" name="phone" type="text" class="form-control"/>
                </div>
            </div>  
            
            <div class="form-group row">
                <label for="address_ln_1" class="col col-2  col-form-label" >Address ln 1 :</label>
                <div class="col col-6">
                    <input id="address_ln_1" name="address_ln_1" type="text" class="form-control"/>
                </div>
            </div> 
            
            <div class="form-group row">
                <label for="address_ln_2" class="col col-2  col-form-label" >Address ln 2 :</label>
                <div class="col col-6">
                    <input id="address_ln_2" name="address_ln_2" type="text" class="form-control"/>
                </div>
            </div> 
            
            <div class="form-group row">
                <label for="city" class="col col-2  col-form-label" >City :</label>
                <div class="col col-6">
                    <input id="city" name="city" type="text" class="form-control"/>
                </div>
            </div> 
            
            <div class="form-group row">
                <label for="postal_code" class="col col-2  col-form-label" >Postal Code :</label>
                <div class="col col-6">
                    <input id="postal_code" name="postal_code" type="text" class="form-control"/>
                </div>
            </div> 
            
            <div class="form-group row">
                <div class="col-sm-6 text-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
                <div class="col-sm-6">
                    <a href="{{api_root}}" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </form>
    </div>


{% endblock %}