{% extends 'main.html' %} 
{% block title %}
    {{ 'Create New Product - ' if update_id == 0 else 'Update \'' + product.name + '\' - ' }}
    {{ super()}}
{% endblock %}
{% block content %} 
   
    <div class="container">
        <h1>{% if update_id == 0 %}Create New Product{% else %}Update <strong>{{product.name}}</strong>{% endif %}</h1>
        <p> </p>
        <form class="form form-horizontal" action="{{api_root}}/{{ 'create' if update_id == 0 else 'update/' + update_id }}" method="POST">
            <div class="form-
            group row">
                <label for="name" class="col col-2  col-form-label" >Name :</label>
                <div class="col col-6">
                    <input id="name" name="name" type="text" class="form-control" value="{{product.name}}" />
                </div>
            </div> 
            
            <div class="form-group row">
                <label for="description" class="col col-2  col-form-label" >Description :</label>
                <div class="col col-6">
                    <input id="description" name="description" type="text" class="form-control" value="{{product.description}}"/>
                </div>
            </div> 
            
            <div class="form-group row">
                <label for="price" class="col col-2  col-form-label" >Price :</label>
                <div class="col col-6">
                    <input id="price" name="price" type="number" class="form-control" value="{{product.price}}"/>
                </div>
            </div> 
            
            <div class="form-group row">
                <div class="col-sm-6 text-center">
                    <button type="submit" class="btn btn-primary">{{ 'Create' if update_id == 0 else 'Update' }}</button>
                </div>
                <div class="col-sm-6">
                    <a href="{{api_root}}" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </form>
    </div>


{% endblock %}