{% extends 'main.html' %}


{% block title %}Product List - {{ super()}}{% endblock %}
{% block content %}


<div class="container">
    <h1>Products</h1> 

    <a href="/products-services/create-product" class="btn btn-link"><i class="fa fa-plus"></i> Add Product</a> 
    
    <table class="table">
        <tr>
            <th>Action</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        {% for product in products %}
        <tr>
            <td> 
                <a href="/products-services/update-product/{{product.id}}" class="btn btn-link" title="Update - {{ product.name }}">
                    <i class="fa fa-pencil-alt"></i>
                </a>  
                <a href="/products-services/delete-product/{{product.id}}" class="btn btn-link" title="Delete - {{ product.name }}">
                    <i class="fa fa-trash-alt"></i> 
                </a> 
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
    </table>   

    <a href="/products-services/create-product" class="btn btn-link"><i class="fa fa-plus"></i> Add Product</a> 
         
</div>


{% endblock %}