{% extends 'main.html' %}


{% block title %}Product List - {{ super()}}{% endblock %}
{% block content %}


<div class="container">
    <h1>Products</h1> 

    <a href="{{api_root}}/create" class="btn btn-link"><i class="fa fa-plus"></i> Add Product</a> 
    
    <table class="table">
        <tr>
            <th colspan="2"></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr> 
        {% for product in products %}
        <tr>
            <td> 
                <a href="{{api_root}}/update/{{product.id}}" class="btn btn-link" title="Update - {{ product.name }}">
                    <i class="fa fa-pencil-alt"></i>
                </a>  
            </td>
            <td>
                <form action="{{api_root}}/delete" method="POST"> 
                    <button type="submit" class="btn btn-link" title="Delete - {{ product.product }}">
                        <i class="fa fa-trash-alt"></i> 
                    </button> 
                    <input name="delete_id" type="hidden" value="{{product.id}}" />
                </form>
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ "{:6.2f}".format( product.price)  }}</td>
        </tr>
        {% endfor %}
    </table>   

    <a href="{{api_root}}/create" class="btn btn-link"><i class="fa fa-plus"></i> Add Product</a> 
         
</div>


{% endblock %}