{% extends 'main.html' %}


{% block title %}Service List - {{ super()}}{% endblock %}
{% block content %}


<div class="container">
    <h1>Service</h1> 

    <a href="{{api_root}}/create" class="btn btn-link"><i class="fa fa-plus"></i> Add Service</a> 
    
    <table class="table">
        <tr>
            <th colspan="2"></th>
            <th>Name</th>
            <th>Description</th>
            <th>Charge</th>
        </tr>
        {% for service in services %}
        <tr>
            <td> 
                <a href="{{api_root}}/update/{{service.id}}" class="btn btn-link" title="Update - {{ service.name }}">
                    <i class="fa fa-pencil-alt"></i>
                </a>  
            </td>
            <td>
                <form action="{{api_root}}/delete" method="POST"> 
                    <button type="submit" class="btn btn-link" title="Delete - {{ service.name }}">
                        <i class="fa fa-trash-alt"></i> 
                    </button> 
                    <input name="delete_id" type="hidden" value="{{service.id}}" />
                </form>
            </td>
            <td>{{ service.name }}</td>
            <td>{{ service.description }}</td>
            <td>{{ "{:6.2f}".format( service.charge)  }}</td>
        </tr>
        {% endfor %}
    </table>   

    <a href="{{api_root}}/create" class="btn btn-link"><i class="fa fa-plus"></i> Add Service</a>
         
</div>


{% endblock %}