{% extends "bootstrap/base.html" %}
{% block title %}Python Flask Showcase Project{% endblock %}
{% block head %}
    {{ super() }}
    {{ fontawesome_html() }}  
{% endblock %}
{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }}  
  {{ datepicker.picker(id=".datepicker", dateFormat="dd MM yy" ) }}
{% endblock %}

{% block navbar %}  
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">D Gumbo Showacse App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a> 
            </li> 
            {% if current_user.is_authenticated == False %}
            <li class="nav-item"> 
                <a class="nav-link" href="/auth/login">Login</a> 
            </li>  
            <li class="nav-item"> 
                <a class="nav-link" href="/auth/signup">Sign up</a> 
            </li>  
            {% endif %}
            {% if current_user.is_authenticated %}
            <li class="nav-item"> 
                <a class="nav-link" href="/invoices">Invoices</a> 
            </li>  
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dd4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Setup</a>
                <div class="dropdown-menu" aria-labelledby="dd4">  
                    <a class="dropdown-item" href="/company-setup">Company Setup</a> 
                    <a class="dropdown-item" href="/payment-details">Payment Details</a>   
                    <a class="dropdown-item" href="/clients">Clients</a>
                    <a class="dropdown-item" href="/products">Product List</a> 
                    <a class="dropdown-item" href="/services">Service List</a>  
                </div>
            </li>
            {% endif %}
                    
            {% if current_user.is_authenticated and current_user.username == "gdenzilg@gmail.com" %} 
            <li class="nav-item"> 
                <a class="nav-link" href="/auth/user-list">User List</a> 
            </li>  
            {% endif %} 

            {% if current_user.is_authenticated %}
            <li class="nav-item"> 
                <a class="nav-link" href="/auth/logout">Logout</a> 
            </li>  
            {% endif %}
        </ul> 
        </div>
    </nav> 
{% endblock %} 
  