{% extends 'main.html' %}


{% block title %}Payment Detail List - {{ super()}}{% endblock %}
{% block content %}


<div class="container">
    <h1>Payment Details</h1> 

    <a href="{{api_root}}/create" class="btn btn-link"><i class="fa fa-plus"></i>Add Payment Detail</a> 
    
    <table class="table">
        <tr>
            <th colspan="2">&nbsp;</th>
            <th>Account Name</th>
            <th>Bank Name</th>
            <th>Sort code</th>
            <th>Account number</th>
            <th>Created</th>
        </tr>
        {% for payment_detail in payment_details %}
        <tr>
            <td> 
                <a href="{{api_root}}/update/{{payment_detail.id}}" class="btn btn-link" title="Update - {{ payment_detail.bank_name }} - {{ payment_detail.sort_code }} - {{ payment_detail.acc_number }}">
                    <i class="fa fa-pencil-alt"></i>
                </a>  
            </td>
            <td>
                <form action="{{api_root}}/delete" method="POST"> 
                    <button type="submit" class="btn btn-link" title="Delete - {{ payment_detail.bank_name }} - {{ payment_detail.sort_code }} - {{ payment_detail.acc_number }}">
                        <i class="fa fa-trash-alt"></i> 
                    </button> 
                    <input name="delete_id" type="hidden" value="{{payment_detail.id}}" />
                </form>
            </td>
            <td>{{ payment_detail.acc_name }}</td>
            <td>{{ payment_detail.bank_name }}</td>
            <td>{{ payment_detail.sort_code }}</td>
            <td>{{ payment_detail.acc_number }}</td>
            <td>{{ payment_detail.creation_time.strftime("%d %b, %Y, %H:%M:%S") }}</td>           
        </tr>
        {% endfor %}
    </table>   

    <a href="{{api_root}}/create" class="btn btn-link"><i class="fa fa-plus"></i> Add Payment Detail</a> 
         
</div>


{% endblock %}